default:
    suites:
        raffle:
            contexts:
                - ApplicationContext:
                    kernel: '@kernel'
                - FixturesContext:
                    kernel: '@kernel'
            filters:
                tags: "@raffle"
        raffle_api:
            contexts:
                - ApiContext:
                    kernel: '@kernel'
                - FixturesContext:
                    kernel: '@kernel'
            filters:
                tags: "@raffle && @api"
        application:
            contexts:
                - ApplicationContext:
                    kernel: '@kernel'
                - FixturesContext:
                    kernel: '@kernel'
            filters:
                tags: "@fetch"
        api:
            contexts:
                - ApiContext:
                    kernel: '@kernel'
                - FixturesContext:
                    kernel: '@kernel'
            filters:
                tags: "@fetch && @api"

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
